@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="form-text">
                            <div class="col-6 mx-auto">
                                Aplikacija koja cita podatke pomocu Facebook rest API-a.
                                U slucaju da aplikacija vec nema pristup Facebook profilu, prilikom klika na link
                                "Get some info about yourself on facebook"
                                pojavljuje se login prozor, gdje korisnik unosi svoje podatke. U ovom slucaju ima testni account pomocu kojeg se vrsi prijava.
                                Nakon toga se prikazuju neki podaci o prijavljenom korisniku. Korisnik ima opciju da pohrani podatke u lokalni .json file.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
