@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <h4>Data Saved!</h4>
                        <hr />
                        @Html.ActionLink("Back to homepage", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
